@CHARSET "UTF-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

abbr,acronym {
	border: 0;
}

textarea,input {
	resize: none;
}

button {
	overflow: visible;
	width: auto;
	margin: 0;
	padding: 0;
	border: 0 none;
	outline: none;
}

.col1 {
	font-size: 14px;
	color: #ffffcc;
	background-color: #ece5d8;
}

.content-block {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px 0 10px;
}

a {
	color: #ffffcc;
	text-decoration: none;
}

a:hover {
	color: #330000;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}
/* Hide from IE Mac */
.clearfix {
	display: block;
}

textarea,input[type=text],input[type=email],input[type=password] {
	border: 1px solid #daceb7;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .05) inset, 0 1px 0
		rgba(255, 255, 255, 1);
	border-radius: 4px;
	-webkit-appearance: none;
	line-height: 100%;
}

textarea:focus,input[type=text]:focus,input[type=email]:focus,input[type=password]:focus
	{
	outline: none;
	border: 1px solid #996633;
	box-shadow: 0 0 4px rgba(153, 102, 51, 0.6);
}

/* Left */
.baidu-sponsor {
	padding: 0 0 20px 0;
	clear: both;
}

.col1 {
	width: 620px;
	float: left;
	margin: 20px 20px 0 0;
}

.col1 .block {
	background-color: #000033;
	clear: both;
	padding: 18px 20px;
}

.col1 .shadow {
	background: url(/img/web_icon.png?v=20120715) no-repeat 0 -280px;
	height: 20px;
	width: 610px;
}

.author {
	font-size: 14px;
	vertical-align: middle;
	line-height: 100%;
	margin: 0 0 17px;
}

.author img {
	height: 30px;
	width: 30px;
	vertical-align: middle;
	padding: 0 10px 0 0;
}

.thumb {
	margin: 10px 0;
}

.tags {
	margin: 10px 0 0 0;
}

.tags .bti {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/img/web_icon.png?v=20120715) no-repeat -180px 0;
	vertical-align: middle
}

.content {
	word-break: break-all;
	line-height: 160%;
}

.col1 .content a,.col1 .content a:hover {
	color: #ffffcc;
	text-decoration: none;
	cursor: text;
}

.col1 .recommend h3 {
	height: 40px;
	width: 114px;
	display: inline-block;
	background: url(/img/web_icon.png?v=20120715) no-repeat 0 -59px;
	margin: 15px 0;
	font-size: 16px;
	text-align: center;
	line-height: 33px;
	color: #FFf;
}

.detail {
	display: none;
}

.main .col1 .block:hover .detail {
	display: block;
}

.detail a {
	width: 30px;
	height: 30px;
	margin: -18px 0 0 570px;
	background: url(/img/web_icon.png?v=20120715) no-repeat -80px -810px;
	position: absolute;
}

.detail a:hover {
	background: url(/img/web_icon.png?v=20120715) no-repeat -80px -840px
}

.bar {
	margin: 15px 0 0 0;
	height: 30px;
}

.bar .disable {
	cursor: default;
	text-decoration: none;
}

.bar ul li {
	float: left;
}

.bar ul li a {
	display: block;
	height: 28px;
	line-height: 30px;
	text-indent: 36px;
	width: 80px;
	border-radius: 3px;
	border: 1px solid #DFD5CB;
	color: #000033;
}

.bar ul li a:hover {
	border-color: #a78b6f;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.bar ul li a:active,.bar ul li .voted,.bar ul li a.voted:hover,.bar ul li a.voted:active
	{
	border-color: #cabdb0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
	color: #BF4131;
}

.bar .up a {
	margin: 0 10px 0 0;
	background: #fff url("/img/web_icon.png?v=20120715") no-repeat 0 -720px;
}

.bar .up a:hover {
	background: #fff url("/img/web_icon.png?v=20120715") no-repeat 0 -750px;
}

.bar .up a:active,.bar .up .voted,.bar .up a.voted:hover,.bar .up a.voted:active
	{
	background: #F3EFE7 url("/img/web_icon.png?v=20120715") no-repeat 0
		-780px;
}

.bar .down a {
	margin: 0 228px 0 0;
	background: #fff url("/img/web_icon.png?v=20120715") no-repeat -80px
		-720px;
}

.bar .down a:hover {
	background: #fff url("/img/web_icon.png?v=20120715") no-repeat -80px
		-750px;
}

.bar .down a:active,.bar .down .voted,.bar .down a.voted:hover,.bar .down a.voted:active
	{
	background: #F3EFE7 url("/img/web_icon.png?v=20120715") no-repeat -80px
		-780px;
}

.bar .comment a {
	margin: 0 10px 0 0;
	background: #fff url("/img/web_icon.png?v=20120715") no-repeat -160px
		-720px;
}

.bar .comment a:hover {
	background: #fff url("/img/web_icon.png?v=20120715") no-repeat -160px
		-750px;
}

.bar .comment a:active {
	background: #F3EFE7 url("/img/web_icon.png?v=20120715") no-repeat -160px
		-780px;
}

.bar .share a {
	background: #fff url("/img/web_icon.png?v=20120715") no-repeat 0 -810px;
}

.bar .share a:hover {
	background: #fff url("/img/web_icon.png?v=20120715") no-repeat 0 -840px;
}

.bar .share a:active {
	background: #F3EFE7 url("/img/web_icon.png?v=20120715") no-repeat 0
		-870px;
}

.sharebox {
	display: none;
	padding: 10px 10px 10px 10px;
	width: 190px;
	height: 75px;
	position: absolute;
	margin: -85px 0 0 380px;
	_margin: -85px 0 0 -185px;
}

#bdshare {
	height: 55px;
	padding: 5px 5px 0 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	background: #fff;
	border: 1px solid #a78b6f;
}

.bds_tools a {
	width: 60px;
	text-indent: 4px;
}

#bdshare .arrow {
	width: 9px;
	height: 5px;
	display: block;
	position: absolute;
	background: url("img/web_icon.png?v=20120715") no-repeat -5px -8px;
	margin: 57px 0 0 130px;
	_margin: 32px 0 0 -50px;
}

#vote-ani {
	line-height: 0;
	position: absolute;
	display: none;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

#vote-ani.pos {
	color: red;
}

#vote-ani.neg {
	color: blue;
}