

			<div id="content">
				<ul id='list'>
				<!--loop storys start-->
					<li class='listcell'>
						<div class='user'>
							<img alt="" src="" class='headico'>
							<span class='username'>$upuid</span><br>
						</div>
						<div class='text'>
						$story
						</div>
						<div class='tools'>
							<a class='like'><img alt="" src="" class='button'>$like</a>
							<a class='dislike'><img alt="" src="" class='button'>-$unlike</a>
							<a class='talk'>3</a>条评论
						</div>
						
					</li>
				<!--loop storys end-->
				</ul>
		</div>
			