<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
</head>
<body>
	<div id="head">
		<img alt="<br>" src="/img/logo.png" id='head-logo' class='hleft logo'>
		<a class='hleft'>注册/登陆</a>
		<a class='hleft'>排行</a>
		<a><img alt="" src="" id='head-fdz' class='hleft button'></a>
		
		<a class='hright button'>点我去推理篇</a>
		<span class='hright'>游客id123456</span>	
	</div>
	<div id='headfix'></div>
	<div id='main'>
		<div id="left">
			<img alt="" src="/img/dl.png">
		</div>
		<div id='story'>
			$storys
		</div>
		<div id="right">
			456
			</div>
		</div>
	</div>
	<div id="foot">
	copyright
	</div>
</body>
</html>
		