<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/self.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
<script src='/js/vote.js' type="text/javascript"></script>
<script src='/js/main.js' type="text/javascript"></script>
</head>
<body>
	$head

	<div id='main'>
		<div class="content-block">
			<div id="left">
				<div style='height: 20px;'></div>
				<img alt="" src="/img/dl.png">
			</div>
			<div id='contral'>$main</div>
			<div id="right">
				<div style='height: 20px;'></div>
				456
			</div>
		</div>
	</div>
	$foot
</body>
</html>
