<div id='mainheadfix'></div>
<div>
	<form action='/index.php/user/logined' method='post'>
		<table >
			<tr>
				<td>email:</td>
				<td><input type='text' name='email'></td>
			</tr>
			<tr>
				<td>密码:</td>
				<td><input type='password' name='pass'></td>
			</tr>
			<tr>
				<td><input type='submit' value='登陆' style='width:60px;height:30px;'></td>
				<td><input type='button' style='width:60px;height:30px;'onclick="window.self.location='/index.php/user/signup'" class='button' value='注册'></a></td>
			</tr>
		</table>
	</form>
	
</div>
