<div id='mainheadfix'></div>
<div>
	<form action='/index.php/user/signuped' method='post'>
		<table >
			<tr>
				<td>用户名:</td>
				<td><input type='text' name='username'></td>
				<td>(字母开头，允许5-16字符，允许字母数字下划线)</td>
			</tr>
			<tr>
				<td>密码:</td>
				<td><input type='password' name='pass1'></td>
				<td>(由数字、26个英文字母或者下划线组成)</td>
			</tr>
			<tr>
				<td>再次输入密码:</td>
				<td><input type='password' name='pass2'></td>
			</tr>
			<tr>
				<td>email:</td>
				<td><input type='text' name='email'></td>
			</tr>
			<tr>
				<td><input type='submit' value='提交' style='width:60px;height:30px;'></td>
			</tr>
		</table>
	</form>
	
</div>
